#App0{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("shannon-potter-scFS7bxEBCs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
    Filter: blur();
}
#App1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("Screenshot from 2023-04-23 17-37-43.png");
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
    Filter: blur();
}
#t{
    display: none;
}
#z{
    display: none;
    padding: 4rem 0px;
    font-size: 28px;
}

